/* Mobile and tablet */
@media  (max-width: 1023px) {
    :root {
        --header-height: 80px;
        --header-navbar-height: 0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    .header__cart-lists {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        right: 0;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-lists::before {
        display: none;
    }
    .header__sort-bar {
        display: flex;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */ 
@media (max-width: 739px) {
    .mobile-content {
        margin: 0;
    }
    .hide-on-mobile {
        display: none;
    }
    .header__search {
        display: none;
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        padding: 0 16px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        z-index: 1;
        height: 46px;
        /* border: 2px solid #ccc; */
        animation: mobileSearchBarSideIn linear 0.3s;
    }
    .header__mobile-checkbox:checked ~ .header__search {
        display: block;
    }
    .header__search-bar-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        width: 100%;
    }
    .header-with-search {
        justify-content: space-between;
        margin: 0;
        padding: 0 24px;
    }
    .header__mobile-search {
        display: block;
    }
    .header__logo,
    .header__logo-img,
    .header__cart-icon {
        margin: 0;
    }
    .header__cart {
        width: unset;
    }
    @keyframes mobileSearchBarSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2); 
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
}